<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.qqmusic.qplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QPlayerSDKAndroid">
        <activity
            android:name=".ui.activity.folder.FolderActivity"
            android:exported="true"
            android:label="@string/title_activity_folder"
            android:theme="@style/Theme.QPlayerSDKAndroid.NoActionBar" />
        <activity
            android:name=".ui.activity.player.PlayerActivity"
            android:exported="true"
            android:label="@string/title_activity_player"
            android:launchMode="singleTop"
            android:theme="@style/Theme.QPlayerSDKAndroid.NoActionBar" />
        <activity android:name=".ui.activity.TestPlayerActivity"/>
        <activity
            android:name=".ui.activity.main.DemoActivity"
            android:exported="true"
            android:theme="@style/Theme.QPlayerSDKAndroid.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true" />
        <activity android:name=".ui.activity.OpenApiDemoActivity" />
        <activity android:name=".ui.activity.SongCacheDemoActivity"/>

        <activity android:name=".ui.activity.songlist.SongListActivity" />
        <activity android:name=".ui.activity.player.PlayListActivity" />
        <activity android:name=".ui.activity.player.PlayerTestActivity"/>

        <activity
            android:name="com.tencent.qqmusicrecognition.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="net.sourceforge.simcpux"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>