<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.qqmusic.qplayer.debug">
    <application>
        <activity android:name=".DebugActivity" />
        <activity android:name=".DebugPlayerAPiActivity"/>
    </application>
</manifest>